<ion-content class="ion-padding">
  <div style="margin-top: 50px;">
      <ion-item>
        <ion-label position="floating"> Key </ion-label>
        <ion-input (ionChange)="change($event)" name="key"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Value </ion-label>
        <ion-input (ionChange)="change($event)" name="value"></ion-input>
      </ion-item>
      <div style="margin-top: 10px;">
        <ion-button expand="block" type="submit" (click)="addNote()">Add</ion-button>
      </div>
      <div style="margin-top: 10px;">
        <ion-button expand="block" fill="clear" (click)="dismiss()">Cancel</ion-button>
      </div>
  </div>
</ion-content>